<section class="grid">
  <!-- Render CardItems -->
    <h2>Mein Portfolio</h2>

    <div class="card-grid">
      <% data.forEach((element)=> { %>
      <a data-id="<%= element.type %>/<%= element.id %>" class="card-link dynamic-link">
        <div class="card"> 
          <img src="http://localhost:3000<%= element.images[0] %>" alt="true"></img>
          <h3 class="center"><%= element.title %></h3>
          <p><%= element.description%></p>
        </div>
      </a> 
      <% }); %>
    </div>

    <div class="line"></div>

  </section>