
<div class="upperpart">
    <div class="titletext">
    <h1><%= data.title %></h1>
    <p><%= data.description %></p>
    </div>

    <div class="titleimg"> <img src="http://localhost:3000<%= data.images[0] %>" alt=""></div>
</div>

<div class="middlepart">
    <div class="middleimg"> <img src="http://localhost:3000<%= data.images[0] %>" alt=""></div>

    <div class="middletext">
        <h1><%= data.title %></h1>
        <p><%= data.text %></p>
    </div>
</div>

<div class="midsec">
    <p>test</p>
</div>

<div class="carousell">

</div>
