<%- include('../parts/head') %>
<%- include('../parts/navbar') %>

<h1>Portfolio Details: <%= data.title %></h1>
<p><%= data.description %></p>

<h1>Portfolio Details: <%= data.title %></h1>
<p><%= data.description %></p>



<%- include('../parts/footer') %>